site_name: CyNetDiff
site_description: A performance-focused library implementing algorithms for simulating network diffusion processes, written in Cython.
site_url: https://cynetdiff.site.to.be.created.org
repo_url: https://github.com/eliotwrobson/CyNetDiff
repo_name: cynetdiff
edit_uri: blob/main/docs/
authors:
  - eliotwrobson: https://github.com/eliotwrobson
theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: deep purple
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: deep purple
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  features:
    - search.suggest
    - search.highlight
    - toc.integrate
    - navigation.top
    - navigation.indexes
    - navigation.tabs
    - content.code.copy
  icon:
    repo: fontawesome/brands/github
  logo: assets/img/dgraph.svg
  favicon: assets/img/dgraph.png
  language: en
plugins:
  - search:
      separator: '[\s\-\.]'
      min_length: 2
      indexing:
        "full"
        # media_type: print
        # enabled_if_env: ENABLE_PDF_EXPORT
  - macros:
      enabled_if_env: ENABLE_PDF_EXPORT
  - mkdocstrings:
      enabled: !ENV [ENABLE_MKDOCSTRINGS, true]
      custom_templates: templates
      default_handler: python
      handlers:
        python:
          paths: [src]
          options:
            show_source: false
            docstring_style: "numpy"
            show_root_heading: true
            filters:
            - "!^_"
            - "!^__"
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      # auto_title: true
      # anchor_linenums: true
      # linenums: true
      # linenums_style: pymdownx-inline
  - pymdownx.tasklist:
      clickable_checkbox: true
      custom_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.betterem
  - admonition
  - pymdownx.details
  - footnotes
  - attr_list
  - md_in_html
  - tables
extra:
  social:
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/cynetdiff/
      name: Package on PyPI
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
#   - javascripts/extra.js
copyright: Copyright &copy; 2024 Eliot Robson, Abhishek K. Umrawal
nav:
  - Introduction:
      - index.md
      - CONTRIBUTING.md
      - CODE_OF_CONDUCT.md
  - Examples:
      - examples/preliminaries.md
      - examples/activated.md
      - examples/celf.md
  - API:
      - api/index.md
      - Utilities: api/utils.md
      - Models: api/models.md
  - Community:
      - people.md
